{{#if thisAsset.indashboard}}
    <a class="btn btn-primary asset-download-btn" href="{{thisAsset.attributes.overview_url}}" target="_blank"
       data-toggle="modal"
       data-aid="{{thisAsset.id}}" data-type="{{thisAsset.type}}"> {{>process-asset-text}}{{thisAsset.type}}</a>
{{else}}

    {{# if ssoParam}}
        <a href="{{url "/login"}}"
           class="btn btn-primary asset-add-btn">{{>process-asset-text}}</a>
    {{else}}
        <a href="{{thisAsset.attributes.overview_url}}" target="_blank"
           class="btn btn-primary asset-add-btn">{{>process-asset-text}}</a>

    {{/if}}
    {{# if userParam.username}}
       <a href="{{thisAsset.attributes.overview_url}}" target="_blank"
           class="btn btn-primary asset-add-btn">{{>process-asset-text}}</a>
    {{/if}}
{{/if}}
