<div class="container">

	<div class="raw-fluid">
		
		<div class="span12">

			<div class="raw-fluid">
				<div class="block">
					<div class="block-header">
						<div class="block-header-title pull-left">
							Assign resources to policies
						</div>

					</div>

					<div class="block-body">
						<form class="form-horizontal">							
							
							<input type="hidden" id="inputId" value="{{data.policyId}}" class="input-xxlarge">
							
							
							<div class="control-group">
									<label class="control-label" for="inputFirstName">Policies</label>
									<div class="controls">
										<select class="multiselect" multiple="multiple" id="inputPolicies" >
											{{#data.policies}}
												<option value="{{name}}">{{name}}</option>
											{{/data.policies}}
									 </select>
									</div>
							</div>
							
							
							<div class="control-group">
									<label class="control-label" for="inputAssignTo">Assign To</label>
									<div class="controls">
										<select id="inputAssignTo" >											
												<option value="roles">Roles</option>
												<option value="users">Users</option>
												<option value="platforms">Platform</option>
									   </select>
									</div>
							</div>
							
							
							
							
							<hr>
							
							
							
							<div class="control-group" id="roles-box">
								<label class="control-label" >Roles</label>
								<div class="controls raw">
									<div class="multiple-selectbox">
										<select multiple="multiple" size="10" id="inputGroups" name="inputGroups" class='duallistbox'>
											{{#data.groups}}
												<option value="{{name}}">{{name}}</option>
											{{/data.groups}}									
										</select>
									</div>

								</div>
							</div>
							
							
							
							<div class="control-group" id="users-box" style="display: none">
								<label class="control-label" >Users</label>
								<div class="controls raw">
									<div class="multiple-selectbox">
										<select multiple="multiple" size="10" id="inputUsers" name="inputUsers" class='duallistbox'>
											{{#data.users}}
												<option {{#if available}}selected{{/if}} value="{{name}}">{{name}}</option>
											{{/data.users}}											
										</select>
									</div>

								</div>
							</div>
							
							
							<div class="control-group" id="platforms-box" style="display: none">
								<label class="control-label" >Platforms</label>
								<div class="controls raw">
									<div class="multiple-selectbox">
										<select multiple="multiple" size="10" id="inputUsers" name="inputUsers" class='duallistbox'>
											<option value="android">Android</option>
												<option value="ios">iOS</option>											
										</select>
									</div>

								</div>
							</div>
							
							
							
							
							<div class="control-group" id="platforms-box" style="display: none">
									<label class="control-label">Platform</label>
									<div class="controls">
										<select class="multiselect" multiple="multiple" id="inputPlatforms" >											
												<option value="android">Android</option>
												<option value="ios">iOS</option>													
									 </select>
									</div>
							</div>
							
							

							<hr>
							<div class="offset10">
								<a class="btn btn-orange btn-large" id="btn-add" href="#" >Assign</a>
							</div>

							<input type="hidden" id="tenantId" value="{{data.tenantId}}" />
						</form>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>
