<h1>{{t "Add new Gadget"}}</h1>

<div class="row-fluid">
	<div class="span12">
		<form class="form-horizontal span8 offset2 form-add-gadget">
			<div class="control-group">
				<label class="control-label" for="inp-name">{{t "Name"}}</label>
				<div class="controls">
					<input class="input-xxlarge" type="text" id="inp-name">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inp-password">{{t "Version"}}</label>
				<div class="controls">
					<input class="input-xxlarge" type="text" id="inp-password">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inp-provider">{{t "Provider"}}</label>
				<div class="controls">
					<input class="input-xxlarge" type="text" id="inp-provider">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inp-url">{{t "URL"}}</label>
				<div class="controls">
					<input  class="input-xxlarge" type="text" id="inp-url">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inp-thumbnail">{{t "Thumbnail location"}}</label>
				<div class="controls">
					<input class="input-xxlarge" type="text" id="inp-thumbnail">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
				
					<button type="submit" class="btn btn-primary">
                        {{t "Add Gadget"}}
					</button>
				</div>
			</div>
		</form>
	</div>

</div>
