<form class="form-horizontal" data-validate="parsley">

	<div class="control-group">
		<label class="control-label">Policy Name</label>
		<div class="controls">
			<input type="text" id="policyName" class="input-xxlarge" data-required="true" disabled="disabled">
		</div>
	</div>

	
	
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" id="applist" data-parent="#accordionPolicies" href="#collapse11"> <i class="icon-mobile-phone"></i> Apps <i class="icon-ok-sign" style="color:green; display: none"> </i></a>
			</div>
			<div id="collapse11" class="accordion-body collapse">
				<div class="accordion-inner">
					<!-- LDAP Configuration Start -->
					
					<div class="control-group">
						<label class="control-label">Blacklisted Apps</label>
						<div class="controls">
							<select multiple id="inputBlackListApps">
								  
							</select>
							<div class="raw">
								<input type="button" class="btn btn-orange" id="modalBlackListAppCreate" data-toggle="modal" href="#modalBlackListApp"  value="Add an app"> 
								<input type="button" class="btn btn-orange" id="modalBlackListAppRemove"   value="Remove app"> 
							</div>
							
							<div id="modalBlackListApp" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true">
								
								<div class="modal-header">
											<h4 id="myModalLabel">Add an Backlist App</h4>
										</div>
										<div class="modal-body">
												<div class="raw">
													<div>OS Type: </div><select id="modalBlackListOS"><option value="android">Android</option></select>
												</div>
												<div class="raw hide">
													<div>Store Type: </div><select id="modalBlackListType"><option value="enterprise">Enterprise</option></select>
												</div>
												<div class="raw-fluid">
													<div >Package/ Bundle Name:</div> <input type="text" id="modalBlackListPackageName">
												</div>											
										</div>	
										
										<div class="modal-footer">
											<button class="btn btn-cancel"  data-dismiss="modal" aria-hidden="true">
												Close
											</button>
											<button  data-dismiss="modal" aria-hidden="true" id="modalBlackListAppButton" class="btn btn-orange" data-value="Enabled">Add</button>
											
										</div>				

							  </div>	
							
						</div>
					</div>
					
					
					<div class="control-group">
								<label class="control-label" for="inputInstallApps">Install Apps</label>
								<div class="controls raw">
									<div class="multiple-selectbox">
										<select multiple="multiple" size="10" id="inputInstallApps" name="inputInstallApps" class='duallistbox'>
											{{#data.installedApps}}
												<option value="{{identity}}" data-os="{{os}}"  data-name="{{name}}" data-type="{{type}}">{{name}}</option>
											{{/data.installedApps}}
										</select>
									</div>

							</div>
					</div>
					
					
					

					
				</div>
			</div>
		</div>
		
		

	</div>
</form>
