<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>{{include title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{url "/themes/publisher/css/bootstrap.min.css"}}" rel="stylesheet" media="screen">
    <!-- fontawesome -->
    <link rel="stylesheet" href="{{url "/themes/publisher/css/font-awesome.min.css"}}">
    <link rel="stylesheet" type="text/css" href="{{url "/themes/publisher/css/component.css"}}" />
    <!-- publisher styles -->
    <link href="{{url "/themes/publisher/css/es-publisher-commons.css"}}" rel="stylesheet" media="screen">

    <script src="{{url "/themes/publisher/js/modernizr.custom.js"}}"></script>
</head>
<body>
<div class="page">
{{ include header}}
<div class="row-fluid ribbon">
    {{include ribbon}}
</div>
<div class="row-fluid content-area">


<div class="publisher-left-nav">
    {{include leftnav}}
</div>
{{include listassets}}


</div>
{{>footer}}
</div>
<script src="{{url "/themes/publisher/js/jquery-1.10.2.min.js"}}"></script>
<script src="{{url "/themes/publisher/js/bootstrap.min.js"}}"></script>
<script src="{{url "/themes/publisher/js/jquery.dlmenu.js"}}"></script>
<script src="{{url "/themes/publisher/js/publisher.commons.js"}}"></script>
<script src="{{url "/themes/publisher/js/logic/create.asset.js"}}"></script>
<script>
    $(function() {
        $( '#dl-menu' ).dlmenu({
            animationClasses : { classin : 'dl-animate-in-2', classout : 'dl-animate-out-2' }
        });
    });
</script>
<script src="{{url "/themes/publisher/js/logic/lifecycle.asset.js"}}"></script>
</body>
</html>
