<div class="apps">
    <h3>Apps</h3>

    <div class="filter-box">
        <form class="form-search pull-right" style="display: none">
            <select>
                <option>iOS</option>
                <option>Android</option>
                <option>Webclips</option>
            </select>
            <input type="text" placeholder="Search apps">
            <button type="submit" class="btn">Search</button>
        </form>
    </div>


    <div class="well">
        <div class="list_carousel">
            <ul id="foo2">
                {{#each data.apps}}
                    <li>
                        <div class="app_box">
                            <a href="#appid" data-packageid="{{this.attributes.overview_packagename}}"
                               data-platform="{{this.attributes.overview_platform}}"
                               data-type="{{this.attributes.overview_type}}" data-url="{{this.attributes.overview_url}}"
                               data-id="{{this.id}}">
                                <p class="text-center"><b> {{#elipsis 12 this.attributes.overview_name}}{{/elipsis}}</b>
                                	 </p>
                                	 <div style="position: absolute">
                                	 <img  src="/store/extensions/assets/mobileapp/themes/store/img/{{this.attributes.overview_platform}}.png" style="width: 20px;"/>
                                	</div>
                               
                                <img src="{{../config.publisher_location}}{{this.attributes.images_thumbnail}}"
                                     class="icon img-polaroid" style="width:75px">
                            </a>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="clearfix"></div>
        <a id="prev2" class="prev" href="#">&lt;</a>
        <a id="next2" class="next" href="#">&gt;</a>

        <div id="pager2" class="pager"></div>
    </div>

</div>

<div style="clear: both"></div>

<div class="container stakes">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#roles" data-toggle="tab">Roles</a>
        </li>
        <li><a href="#users" data-toggle="tab">Users</a></li>
    </ul>
    <div class="alert" style="display:none">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span/><span/>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="roles">
            <ul class="nav nav-pills">
                <button class="btn pull-right btn-danger uninstall-btn">Uninstall</button>
                <button class="btn pull-right btn-success install-btn">Install</button>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="roles_app_status">

                </div>
            </div>
        </div>
        <div class="tab-pane" id="users">
            <ul class="nav nav-pills">
                <li class="active"><a class="install" href="#users_installed" data-toggle="tab">Installed</a></li>
                <li><a class="not-installed" href="#users_not-installed" data-toggle="tab">Not-installed</a></li>
                <button class="btn pull-right btn-danger">Uninstall</button>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="users_installed">

                </div>
                <div class="tab-pane" id="users_not-installed">

                </div>
            </div>
        </div>
    </div>
</div>