<div class="row-sort-assets">
	<div class="row-fluid">
		<div class="span8">
			{{#if categories}}
			<div id="breadcrumb">
				<div class="breadcrumb-l1">
					<div class="breadcrumb-head">
						{{#if selectedCategory}}
						<span>{{selectedCategory}}</span>
						{{else}}
						<span>All Categories</span>
						{{/if}}
						<i class="icon-caret-down"></i>
					</div>
					<ul class="breadcrumb-body">
						<li>
							<a href="{{url "/assets"}}/{{type}}">All Categories</a>
						</li>
						{{#each categories}}
						<li>
							<a href='{{url "/assets"}}/{{../../type}}?query=category:"{{this}}"'>{{this}}</a>
						</li>
						{{/each}}
					</ul>
				</div>
				<!--
				<div class="breadcrumb-l2">
				<div class="breadcrumb-head">
				<span>Sub Category Name</span><i class="icon-caret-down"></i>
				</div>
				<ul class="breadcrumb-body">
				<li>
				<a href="#">Category 1</a>
				</li>
				<li>
				<a href="#">Category 1</a>
				</li>
				<li>
				<a href="#">Category 1</a>
				</li>
				<li>
				<a href="#">Category 1</a>
				</li>
				</ul>
				</div>-->

			</div>
			{{/if}}
		</div>
		<div class="span4">
			<ul id="ul-sort-assets" data-type="gadget" class="pull-right">
				<li>
					<a href="{{url this.url}}popular" data-toggle="tooltip" data-sort="popular" title="{{t "Sort by Popularity"}}"><i class="icon-star"></i></a>
				</li>
				<li>
					<a href="{{url this.url}}az" data-toggle="tooltip" data-sort="az" title="{{t "Sort by Alphabetical Order"}}"><i class="icon-sort-alphabetical"></i></a>
				</li>
				<li>
					<a href="{{url this.url}}recent" data-toggle="tooltip" data-sort="recent" title="{{t "Sort by Created Date"}}"><i class="icon-calendar"></i></a>
				</li>
			</ul>
		</div>

	</div>
</div>